{% extends 'base.html'%}
<!-- {% import 'macros.html' as macro%} -->

<!-- Styles block -->

{% block styles%}
    {{ super() }}

    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    {% endblock %}

<!-- Content block -->
{% block content %}

<div class="container"  >
  

  {% if current_user.is_authenticated%}
    <h1>Hello {{current_user.username}}, Welcome to music_store app.This is the  best place to be: </h1>
  {% else %}
    <h1>Hello stranger</h1>


  {%endif%}
    <form>
        <input type="text" name="music_query" placeholder="Search for  your favourite Music" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

    <div class="row">
      <div class=" col-md-12 mx-auto bg-light">
        
        <h3> music_store app is an application where: </h3>

        
      </div>
    </div>
  

</div>



{% endblock%}



<!-- blog code -->















